nav {
    color: gray;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

nav .navbar {
    background-color: rgb(26, 25, 25);
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 100%;
}

.navbar .search {
    display: flex;
    align-items: center;
    height: 63%;
}

.search .identification {
    color: aliceblue;
    border: 1px white solid;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 0 1rem 0 0;
}

.chamarGarcom, .meusPedidos, .search {
    padding: 0 1.5rem 0 0;
    border: 1px white solid;
    border-top: hidden;
    border-left: hidden;
    border-bottom: hidden;
}

.chamarGarcom, .meusPedidos, .conta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conta {
    width: 4rem;
    margin: 0 1rem 0 0;
}

.sidebar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(51, 48, 48);
    width: 6rem;
    height: 100%;
}

.sidebar .destaques, .cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .produto {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.sidebar .produto hr {
    width: 75%;
}

.sidebar .sobre {
    text-align: center;
    border: 1px white solid;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 0;
}