.sidebar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(51, 48, 48);
    max-width: 6rem;
    width: 100%;
    height: 100%;
}

.sidebar .destaques, .cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .produto {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.sidebar .produto hr {
    width: 75%;
}

.sidebar .sobre {
    font-size: 14px;
    text-align: center;
    border: 1px white solid;
    padding: 5px 10px;
    border-radius: 8px;
}