.sidebar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #F5EBDC;
    max-width: 6rem;
    width: 100%;
    height: 100%;
}

.sidebar .destaques, .cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(59, 18, 6);
}

.sidebar .produto {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.sidebar .produto hr {
    width: 100%;
    border-color: #3B1206;
}

.sidebar .sobre {
    color: rgb(59, 18, 6);
    font-size: 14px;
    text-align: center;
    border: 1px rgb(59, 18, 6) solid;
    padding: 5px 10px;
    border-radius: 8px;
}